apiVersion: v1
kind: Service
metadata:
  name: app
  namespace: smart-todo
  labels:
    app: smart-todo
    component: api
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: smart-todo
    component: api
